body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: auto auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  height: 62%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  text-align: center;
  padding: 0.5em 0.7em 3em;
  border: solid black 1px;

  &__img {
    display: flex;
    width: 99%;
    height: 220px;
    border-radius: inherit;
    // border: solid black 1px;
  }

  &__text {
    margin: 0.5em 1em;
    text-align: center;
    padding: 0;

    // border: solid 1px;

    &--title {
      font-weight: 700;
      font-size: 20px;
      font-family: "Outfit";
      color: hsl(218, 44%, 22%);

      // border: 1px solid;
    }

    &--description {
      font-weight: 400;
      font-size: 15px;
      font-family: "Outfit";
      padding-top: 0;
      color: hsl(220, 15%, 55%);
      // border: solid black 1px;
    }
  }
}

@media (min-width: 576px) {
  .container {
    width: 30%;
  }
}

// .attribution {
//     a
//   font-size: 11px;
//   text-align: center;

//   a {
//     color: hsl(228, 45%, 44%);
//   }
// }

/* media query stolen from bootstrap!
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px or 640px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px or 1024px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px or 1280px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px or 1536px) { ... }
*/
