* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// font-size: 10px;
}

@mixin flexCenter($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

body {
	@include flexCenter(column);
	width: 100vw;
	height: 100vh;
	// padding-top: 6rem;
	background-color: hsl(212, 45%, 89%);
	font-size: 0.9375rem;
	font-family: Outfit, Verdana, Tahoma, sans-serif; //"Outfit"
}

.container {
	@include flexCenter(column);
	flex-wrap: wrap;
	min-width: 322px;
	width: 86%;
	margin: 0 auto;
	padding: 1rem 1rem 2.5rem;
	border-radius: 1em;
	text-align: center;
	background-color: hsl(0, 0%, 100%);

	// border: solid black 1px;

	&__img {
		display: flex;
		width: 100%;
		height: 270px;
		border-radius: inherit;

		// border: solid black 1px;
	}

	&__text {
		width: 95%;
		margin: 0.5rem 0 0 0;
		text-align: center;
		// border: solid 1px red;

		.title {
			font-weight: 700;
			font-size: 1.25rem;
			color: hsl(218, 44%, 22%);
			// border: 1px solid;
		}

		.description {
			font-weight: 400;
			color: hsl(220, 15%, 55%);
			margin-top: 1rem;

			// border: solid black 1px;
		}
	}
}

//breakpoint width: 380px,
@media (min-width: 23.75rem) {
	.container {
		width: 20.1563rem;
	}
}
